@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Remove Vite's default "box" constraints */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-gray-50 dark:bg-slate-900 text-gray-900 dark:text-gray-100 transition-colors duration-200;
  }
}